{% extends "ajax_layout.html" %}
{% block body %}
<script type=text/javascript>
  $(function() {
    $('a#ifconfig').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ifconfig', {
      }, function(data) {
        $("#ifconfig_result").text(data.result);
      });
      return false;
    });
    $('a#route').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/route', {
      }, function(data) {
        $("#route_result").text(data.result);
      });
      return false;
    });
    $('a#ping').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ping', {
      }, function(data) {
        $("#ping_result").text(data.result);
      });
      return false;
    });
    $('a#internet_on').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/internet_on', {
      }, function(data) {
        $("#internet_on_result").text(data.result);
      });
      return false;
    });
    $('a#pirsyncd_log').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/pirsyncd_log', {
      }, function(data) {
        $("#pirsyncd_log_result").text(data.result);
      });
      return false;
    });
  });
</script>
<h1>Tethr Managr</h1>
<p>
   <span id=ifconfig_result>?</span>
<p>
<a href=# id=ifconfig>ifconfig</a>
<p>
   <span id=route_result>?</span>
<p>
<a href=# id=route>route</a>
<p>
   <span id=ping_result>?</span>
<p>
<a href=# id=ping>ping</a>
<p>
   <span id=internet_on_result>?</span>
<p>
<a href=# id=internet_on>internet_on</a>
<p>
   <span id=pirsyncd_log_result>?</span>
<p>
<a href=# id=pirsyncd_log>pirsyncd_log</a>
{% endblock %}